.container {
  max-width: 1600px;
}
.header {
  height: 300px;
  position: absolute;
  padding: 0%;
  left: 0px;
  top: 0px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: inline block;
  flex: 33.33%;
  margin: 0;
  padding: 0;
  width: 0px;
  text-align: center;
}

a {
  color: white;
  background-color: none;
  text-align: center;
  text-decoration: none;
  display: inline block;
  padding: 0;
  margin: 0;
  width: 50%;
}

a:hover {
  color: black;
}

.banner_section {
  height: 100vh;
  background-image: url('../img/banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 {
  height: 500px;
  padding: 0%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.stay {
  padding-top: 100px;
  padding-bottom: 50px;
  font-weight: bolder;
}

.stay1 {
  background-image: url('../img/stay1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.stay2 {
  background-image: url('../img/stay2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}